{% comment %} {% extends 'navigation.html' %} {% endcomment %}
{% load static %}
{% include 'navigation.html' %}



	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs2-slick1">
			<div class="slick1">
				<div class="item-slick1 bg-overlay1" style="background-image: url('{% static 'images/slide-05.jpg' %}');" data-thumb="{% static 'images/slide-05.jpg' %}" data-caption="Women’s Wear">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Women Collection 2023
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									New arrivals
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="zoomIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url({% static 'images/slide-06.jpg' %});" data-thumb="{% static 'images/slide-06.jpg' %}" data-caption="Men’s Wear">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Men New-Season
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									Premium Shoes
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="slideInUp" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>

				<div class="item-slick1 bg-overlay1" style="background-image: url({% static 'images/slide-07.jpg' %});" data-thumb="{% static 'images/slide-07.jpg' %}" data-caption="Men’s Wear">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="rotateInDownLeft" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Men Collection 2023
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateInUpRight" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									NEW SEASON
								</h2>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="rotateIn" data-delay="1600">
								<a href="product.html" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn2 p-lr-15 trans-04">
									Shop Now
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="wrap-slick1-dots p-lr-10"></div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0 p-t-95 p-b-55">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-04.jpg' %}" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Women
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>

				<div class="col-md-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
						<img src="{% static 'images/banner-05.jpg' %}" alt="IMG-BANNER">

						<a href="product.html" class="block1-txt ab-t-l s-full flex-col-l-sb p-lr-38 p-tb-34 trans-03 respon3">
							<div class="block1-txt-child1 flex-col-l">
								<span class="block1-name ltext-102 trans-04 p-b-8">
									Men
								</span>

								<span class="block1-info stext-102 trans-04">
									New Trend
								</span>
							</div>

							<div class="block1-txt-child2 p-b-4 trans-05">
								<div class="block1-link stext-101 cl0 trans-09">
									Shop Now
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Product Overview -->
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Product Overview
				</h3>
			</div>
	
			<div class="flex-w flex-sb-m p-b-52">
				<div class="flex-w flex-l-m filter-tope-group m-tb-10">
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
						All Products
					</button>
	
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".women">
						Women
					</button>
	
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".men">
						Men
					</button>
	
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".bag">
						Bag
					</button>
	
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".shoes">
						Shoes
					</button>
	
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter=".watches">
						Watches
					</button>
				</div>
	
				<div class="flex-w flex-c-m m-tb-10">
					<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
						<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
						<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						 Filter
					</div>
	
					<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
						<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
						<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
						Search
					</div>
				</div>
				
				<!-- Search product -->
				<div class="dis-none panel-search w-full p-t-10 p-b-15">
					<form id="product_search-form" method="get" action="{% url 'authentication:product_search' %}#product">
					  <div class="bor8 dis-flex p-l-15">
						<button id="search-button" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
						  <i class="zmdi zmdi-search"></i>
						</button>
						<input id="search-input" class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="product_search" placeholder="Search">
					  </div>
					</form>
				</div>
	
				<!-- Filter -->
				<div class="dis-none panel-filter w-full p-t-10">
					<form id="product_filter-form" class="my-4" method="get">
						<div class="bor8 dis-flex p-l-15">
							{% csrf_token %}
							<div class="mb-3 vw-100">
								{{ filter.form }}
							</div>
							<button id="filter-button" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04">
								<i class="zmdi zmdi-search"></i>
							</button>
							<button id="clear-button" class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04 ml-3">
								Clear
							</button>
						</div>
					</form>
				</div>
			</div>
			<!-- Product -->
			<section id="product_overview">
				<div class="row isotope-grids" id="product_list">
					{% if products %}
					
					{% for product in products %}
						<div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-items">
							<!-- Block2 -->
							<div class="block2">
								<div class="block2-pic hov-img0 label-new  d-flex align-items-center" data-label="New" style="min-height: 360px;">
		
									<div id="carouselExampleIndicators{{ forloop.counter0 }}" class="carousel slide">
										{% comment %} <div class="carousel-indicators">
											<button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter0 }}" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
											<button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter0 }}" data-bs-slide-to="1" aria-label="Slide 2"></button>
											<button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter0 }}" data-bs-slide-to="2" aria-label="Slide 3"></button>
										</div> {% endcomment %}
										<div class="carousel-inner">
											{% for image in product.images.all %}
												<div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %} ">
													<img class="d-block w-100 slideshow-image" src="{{ image.image.url }}" alt="Product Image">
												</div>
											{% endfor %}
										</div>
										<button class="carousel-control-prev prev{{ forloop.counter0 }}" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter0 }}" data-bs-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											{% comment %} <span class="visually-hidden">Previous</span> {% endcomment %}
										</button>
										<button class="carousel-control-next next{{ forloop.counter0 }}" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter0 }}" data-bs-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											{% comment %} <span class="visually-hidden">Next</span> {% endcomment %}
										</button>
									</div>
		
									<script>
										// Get references to the carousel and the next/previous buttons
										const carousel{{ forloop.counter0 }} = document.querySelector('#carouselExampleIndicators{{ forloop.counter0 }}');
										const prevButton{{ forloop.counter0 }} = carousel{{ forloop.counter0 }}.querySelector('.prev{{ forloop.counter0 }}');
										const nextButton{{ forloop.counter0 }} = carousel{{ forloop.counter0 }}.querySelector('.next{{ forloop.counter0 }}');
									
										// Add event listeners to the buttons
										prevButton{{ forloop.counter0 }}.addEventListener('click', () => {
											// Move to the previous slide
											const activeSlide = carousel{{ forloop.counter0 }}.querySelector('.carousel-item.active');
											const prevSlide = activeSlide.previousElementSibling || carousel{{ forloop.counter0 }}.lastElementChild;
											if(activeSlide.previousElementSibling){
												activeSlide.classList.remove('active');
												prevSlide.classList.add('active');
											}
											
										});
									
										nextButton{{ forloop.counter0 }}.addEventListener('click', () => {
											// Move to the next slide
											const activeSlide = carousel{{ forloop.counter0 }}.querySelector('.carousel-item.active');
											const nextSlide = activeSlide.nextElementSibling || carousel{{ forloop.counter0 }}.firstElementChild;
											if(activeSlide.nextElementSibling){
												activeSlide.classList.remove('active');
												nextSlide.classList.add('active');
											}
										});
									</script>
									
		
									<a href="{% url 'authentication:product_quick_view' product.id %}" class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
										Quick View
									</a>						  
								</div>
		
								<div class="block2-txt flex-w flex-t p-t-14">
									<div class="block2-txt-child1 flex-col-l ">
										<a href="product-detail.html" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
											{{product.product}}
										</a>
		
										<span class="stext-105 cl3">
											{{ product.get_price_range }}
										</span>
									</div>
		
									<div class="block2-txt-child2 flex-r p-t-3">
										<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2 {% if request.user.is_authenticated and product in request.user.wishlistitem_set.all.0.products.all %}js-addedwish-b2{% endif %}" data-product-id="{{ product.id }}">
											<img class="icon-heart1 dis-block trans-04" src="{% static 'images/icons/icon-heart-01.png' %}" alt="ICON">
											<img class="icon-heart2 dis-block trans-04 ab-t-l" src="{% static 'images/icons/icon-heart-02.png' %}" alt="ICON">
										</a>
									</div>
								</div>
							</div>
						</div>
		
					{% endfor %} 
					{% else %}
					<span>No result found</span>
					{% endif %}
				</div>
				<!-- Pagination -->
				{% if products.has_other_pages %}
					<div class="flex-c-m flex-w w-full p-t-38" id="pagenation">
						{% if products.has_previous %}
							<a href="?page={{ products.previous_page_number }}" page={{ products.previous_page_number }} class="flex-c-m trans-04 m-all-7">Previous</a>
						{% endif %}
						{% for num in products.paginator.page_range %}
							{% if products.number == num %}
								<span class="flex-c-m how-pagination1 trans-04 m-all-7 active-pagination1">{{ num }}</span>
							{% elif num > products.number|add:'-3' and num < products.number|add:'3' %}
								<a href="?page={{ num }}" page={{ num }} class="flex-c-m how-pagination1 trans-04 m-all-7">{{ num }}</a>
							{% endif %}
						{% endfor %}
						{% if products.has_next %}
							<a href="?page={{ products.next_page_number }}" page={{ products.next_page_number }} class="flex-c-m trans-04 m-all-7">Next</a>
						{% endif %}
					</div>
				{% endif %}
			</section>     
		</div>
	</section>
	{% comment %} <div class="abc">
		{{ request.user.wishlistitem_set.all.0.products.all }}
	</div> {% endcomment %}
	
<script>
	function stateChange(xhr, page, num_pages){
		xhr.onreadystatechange = function(){
			if(xhr.readyState==4){
			if(xhr.status==200){
				//console.log(xhr.responseText)
				// Parse the HTML response into an HTML document
				const parser = new DOMParser();
				const htmlDoc = parser.parseFromString(xhr.responseText, 'text/html');
				console.log(htmlDoc);
				// Select the desired div and set its innerHTML
				const divToDisplay = htmlDoc.querySelector('#product_overview');
				document.getElementById('product_overview').innerHTML = divToDisplay.innerHTML;
				//document.getElementById("product_overview").innerHTML = xhr.responseText;
				// displaying inner html replaces the event listener added while loading the page, so we need to add it manually
				addPaginationListener();
			}
			}
		}
	}
	function getCategories(page, num_pages) {
		//alert('sdjsl');
		const xhr = new XMLHttpRequest();
		xhr.open("get", "{% url 'authentication:home' %}?page=" + page);
		xhr.send();
		stateChange(xhr, page, num_pages);
	}
	function addPaginationListener() {
		document.getElementById("pagenation").addEventListener("click", function(event) {
			if (event.target.tagName.toLowerCase() === "a") {
				event.preventDefault();
				//alert("danger")
				console.log("pagenation");
				const page = parseInt(event.target.getAttribute("page"));
				console.log(page);
				getCategories(page);
			}
		});
	}
	addPaginationListener();
</script>

<script>
	function filterState(xhr){
		xhr.onreadystatechange = function(){
			if(xhr.readyState==4){
			if(xhr.status==200){
				//console.log(xhr.responseText)
				// Parse the HTML response into an HTML document
				const parser = new DOMParser();
				const htmlDoc = parser.parseFromString(xhr.responseText, 'text/html');
				console.log(htmlDoc);
				// Select the desired div and set its innerHTML
				const divToDisplay = htmlDoc.querySelector('#product_overview');
				document.getElementById('product_overview').innerHTML = divToDisplay.innerHTML;
				//document.getElementById("product_overview").innerHTML = xhr.responseText;
				// displaying inner html replaces the event listener added while loading the page, so we need to add it manually
				addFilterListener();
			}
			}
		}
	}
	function getFilter(formData) {
		const xhr = new XMLHttpRequest();
		xhr.open("get", "{% url 'authentication:home' %}?" + new URLSearchParams(formData));
		//xhr.open("get", "{% url 'authentication:home' %}?page=" + page);
		xhr.send();
		filterState(xhr);
	}
	function addFilterListener() {
		document.getElementById('filter-button').addEventListener('click', (event) => {
			// Prevent the default form submission behavior
			event.preventDefault();
			//alert("danger")
			const form = document.getElementById('product_filter-form');
			const formData = new FormData(form);
			console.log("filter", formData);
			//const page = parseInt(event.target.getAttribute("page"));
			//console.log(page);
			getFilter(formData);
		});
		// Get the filter form element
		const filterForm = document.getElementById("product_filter-form");

		// Get the clear button element
		const clearButton = document.getElementById("clear-button");
	
		// Add an event listener to the clear button
		clearButton.addEventListener("click", function(event) {
			// Prevent the form from submitting
			event.preventDefault();
	
			// Reset the filter values
			filterForm.reset();
			getCategories(1);
		});
	}
	addFilterListener();
</script>
{% comment %} search  {% endcomment %}
<script>
    // Get the form and input elements
    const form = document.getElementById('product_search-form');
    const input = document.getElementById('search-input');

    // Add an event listener to the search button
    document.getElementById('search-button').addEventListener('click', (event) => {
        // Prevent the default form submission behavior
        event.preventDefault();

        // Get the search query from the input field
        const query = input.value;
        //alert(query)
        // Create a new XHR object
        const xhr = new XMLHttpRequest();
        const url = form.action;
        const params = `product_search=${query}`;
  
        // Set up the XHR request
        //xhr.open('GET', `${url}?${params}`);
        xhr.open('GET', `{% url 'authentication:product_search' %}?${params}`);
        xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
    
        // Define the callback function for when the XHR response is received
        xhr.onload = () => {
            if (xhr.status === 200) {
                // Parse the response HTML and extract the product section
                const response = xhr.response;
                const parser = new DOMParser();
                const doc = parser.parseFromString(response, 'text/html');
                const products = doc.querySelector('#product_list');
        
                // Update the page content with the new product section
                const container = document.querySelector('.isotope-grid');
                container.innerHTML = products.innerHTML;
            } else {
                console.error(xhr.statusText);
            }
        };
  
        // Send the XHR request
        console.log('Sending XHR request...');
        xhr.send();
    });
</script>

{% include 'footer.html' %}	
{% comment %} <script>

		//fix maximum height of a div present in the loop to all carosal
		let maxHeight = 0;
		$('.block2-pic').each(function() {
			let height = $(this).height();
			console.log('height: ', height);
			if (height > maxHeight) {
				maxHeight = height;
			}
			console.log("maxHeight: ",maxHeight)
		});
		$('.block2-pic').css('min-height', maxHeight);
</script> {% endcomment %}











	{% comment %} new product test {% endcomment %}

{% comment %} <script>
	window.onload = function() {
		fetch('/product_overview/')
			.then(response => response.text())
			.then(html => {
				const productOverview = document.querySelector('#product_overview');
				productOverview.innerHTML = html;
			})
			.catch(error => console.error(error));
	}	
</script> {% endcomment %}

